In [1]:
import pandas as pd

In [52]:
CO_2018 = pd.read_excel('2018/2018CO.xls')

In [8]:
CO_2018.head()

,FECHA,HORA,ACO,AJM,ATI,BJU,CAM,CCA,CHO,CUA,...,SAG,SFE,SJA,TAH,TLA,TLI,UAX,UIZ,VIF,XAL
0,2018-01-01,1,0.4,0.8,0.8,0.6,-99.0,0.7,-99.0,0.5,...,0.6,0.6,-99,1.5,0.4,1.1,-99.0,1.2,0.6,0.4
1,2018-01-01,2,0.4,0.7,-99.0,0.5,-99.0,0.5,-99.0,0.2,...,0.6,0.3,-99,1.2,0.4,1.0,-99.0,0.8,0.8,0.4
2,2018-01-01,3,0.4,0.7,1.0,0.5,-99.0,0.3,-99.0,0.2,...,0.5,0.2,-99,1.9,0.6,1.2,-99.0,0.6,0.8,0.4
3,2018-01-01,4,0.4,0.5,0.2,0.5,-99.0,0.2,-99.0,0.2,...,0.4,0.3,-99,1.0,0.6,1.3,-99.0,0.5,0.8,0.7
4,2018-01-01,5,0.4,0.4,0.3,0.4,-99.0,0.2,-99.0,0.4,...,0.5,0.3,-99,1.2,0.4,1.2,-99.0,0.7,0.7,0.8

In [44]:
def int_to_hour(num):
    if num < 10:
        return '0{}:00:00'.format(num)
    else:
        return '{}:00:00'.format(num)

In [53]:
CO_2018['HORA'] = CO_2018['HORA'].apply(lambda x:int_to_hour(x-1))

In [57]:
CO_2018['DATETIME'] = pd.to_datetime(CO_2018['FECHA'].astype(str) +' ' + CO_2018['HORA'], format = '%Y-%m-%d %H:%M:%S')

In [61]:
CO_2018 = CO_2018.set_index('DATETIME')

In [65]:
CO_2018 = CO_2018.drop(['FECHA','HORA'],axis = 1)